//NEEDS to be yes for all libs / dependencies
SKIP_INSTALL=NO

//no need for an install path for products
INSTALL_PATH=$(CONFIGURATION_BUILD_DIR)

//Setup in CommonSettings
//CONFIGURATION_BUILD_DIR=$(PROJECT_DIR)/Bin/$(CONFIGURATION)/

DSTROOT=$(CONFIGURATION_BUILD_DIR)
SYMROOT=$(CONFIGURATION_BUILD_DIR)

INFOPLIST_FILE=$(PROJECT_DIR)/$(TARGET_NAME)/Info.plist


//macos
//LD_RUNPATH_SEARCH_PATHS=@executable_path/../Frameworks

//ios
//LD_RUNPATH_SEARCH_PATHS=@executable_path/Frameworks

// all those below should be set in plist file.
//PRODUCT_BUNDLE_IDENTIFIER=com.confetti.$(TARGET_NAME)
//ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon

