# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
**/.vs/
**/x64/
**.vcxproj.user
**.user
**.log

# Art
Art/

# Vulkan Binary Shaders
**/PCDX12/Binary/
**/PCVulkan/Binary/
**/OSXMetal/Binary/
**/PCDX12/Compiled/

# Obj folders
**/obj/
**/bin/

# Nuget packages
Tools/ShaderBuildCommand/packages/
