# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
**/.vs/
**/.vscode/
**/x64/
**.vcxproj.user
**.user
**.log
**.VC.db
**.ilk
**.pdb
**.ipdb
**.iobj

#  Visual Studio User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Android build artifacts
Unit_Tests/Android_VisualStudio2017/Android-*
**/.gradle
**/.agde
Common_3/OS/Android/Packaging/build/**

##Xcode User settings
xcuserdata/
## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

# General Apple
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Art
# Art/
Art.zip
PBR.zip
# Unit_Tests/UnitTestResources/Textures/PBR/
# Asset Pipeline Zip UT artifacts
**/Unit_Tests/UnitTestResources/ProcessedFiles/

# Binary Shaders
**/D3D12/Binary/
**/Vulkan/Binary/
**/D3D11/Binary/
**/Metal/Binary/
**/D3D12/Compiled/
**/Shaders/Compiled/

# MacOS Common Shaders
Aura/macOS Xcode/The-Forge/Shaders/
Ephemeris/macOS Xcode/The-Forge/Shaders/
Unit_Tests/macOS Xcode/The-Forge/Shaders/
Aura/macOS Xcode/The-Forge/CompiledShaders/
Ephemeris/macOS Xcode/The-Forge/CompiledShaders/
Unit_Tests/macOS Xcode/The-Forge/CompiledShaders/

# Automatically Generated Files
**/Renderer/IRendererDLL.h
**/Renderer/Renderer.cpp

# Obj folders
/**/obj/
/**/bin/
/**/macOS\ Xcode/**/Bin/
/**/macOS\ Xcode/**/build/

# Nuget packages
Tools/ShaderBuildCommand/packages/
**/ThirdParty/OpenSource/hlslparser/Ext/ShaderTranslator/packages/

# Linux / UbuntuCodeLite files
/**/UbuntuCodelite/.codelite/
/**/UbuntuCodelite/.build-debug/
/**/UbuntuCodelite/.build-release/
/**/UbuntuCodelite/*/*.mk
/**/UbuntuCodelite/*/*.txt
/**/UbuntuCodelite/Makefile
/**/UbuntuCodelite/*/Debug
/**/UbuntuCodelite/*/Release
Visibility_Buffer/UbuntuCodeLite/SpirVTools/*/*.txt
Common_3/Resources/AnimationSystem/ThirdParty/OpenSource/ozz-animation/Ubuntu/*/*.txt
Common_3/Application/ThirdParty/OpenSource/gainput/Ubuntu/lib/gainput.txt
Common_3/Tools/AssetPipeline/Linux/.codelite/
Common_3/Tools/AssetPipeline/Linux/.build-debug/
Common_3/Tools/AssetPipeline/Linux/.build-release/
Common_3/Tools/AssetPipeline/Linux/*/*.mk
Common_3/Tools/AssetPipeline/Linux/*/*.txt
Common_3/Tools/AssetPipeline/Linux/Makefile
Common_3/Tools/AssetPipeline/Linux/Debug
Common_3/Tools/AssetPipeline/Linux/Release

# Generated animation files
*.ozz
/**/ThirdParty/OpenSource/ozz-animation/**/*.mk
/**/Tools/AssetPipeline/Apple/Release/
/**/Tools/AssetPipeline/Apple/Debug/

#assimp ignores
/**/ThirdParty/OpenSource/assimp/4.1.0/**/*.mk
/**/ThirdParty/OpenSource/assimp/4.1.0/**/build/
/**/ThirdParty/OpenSource/assimp/4.1.0/**/Build/
/**/ThirdParty/OpenSource/assimp/4.1.0/**/test/
/**/ThirdParty/OpenSource/assimp/4.1.0/**/tools/
/**/ThirdParty/OpenSource/assimp/4.1.0/**/Temp/
/**/ThirdParty/OpenSource/assimp/4.1.0/**/Bin/
/**/ThirdParty/OpenSource/assimp/4.1.0/**/assimp.txt/
/**/ThirdParty/OpenSource/assimp/4.1.0/**/Assimp.txt/

#EASTL Linux artifacts
/**/ThirdParty/OpenSource/EASTL/Linux/*.mk
/**/ThirdParty/OpenSource/EASTL/Linux/*.txt

#Memleak files
*.memleaks

#PVS-Studio files
*.PVS-Studio.*

#MTuner files
*.MTuner

#SDF files
/**/Unit_Tests/UnitTestResources/SDF/

# Compiled libraries
/Common_3/Utilities/ThirdParty/OpenSource/basis_universal/**/x64-Debug
/Common_3/Utilities/ThirdParty/OpenSource/EASTL/Linux/*
# Build artifacts
/Visibility_Buffer/UbuntuCodelite/**/*.mk
/Visibility_Buffer/UbuntuCodelite/**/*.mk
/Unit_Tests/UbuntuCodelite/**/*.mk
/Unit_Tests/UbuntuCodelite/**/*.mk
/**/Ubuntu/**/*.txt

/**/linux/**/*.txt
/Common_3/Tools/AssetPipeline/Linux/*.txt
/Common_3/Tools/AssetPipeline/Linux/AssetPipelineCmd.mk
/Unit_Tests/UbuntuCodelite/compile_commands.json
/Unit_Tests/UbuntuCodeLite/.codelite
/Visibility_Buffer/UbuntuCodelite/compile_commands.json

/Visibility_Buffer/UbuntuCodeLite/.build
/Visibility_Buffer/UbuntuCodeLite/.build-release

/Visibility_Buffer/UbuntuCodeLite/.codelite
/Visibility_Buffer/UbuntuCodelite/*/Debug
/Visibility_Buffer/UbuntuCodelite/*/Release
/Common_3/Utilities/ThirdParty/OpenSource/basis_universal/ReleaseDx/
/Common_3/Utilities/ThirdParty/OpenSource/basis_universal/ReleaseVk/
/Common_3/Utilities/ThirdParty/OpenSource/basis_universal/**/x64-Debug
**.results
**.BenchmarkCompare

#Parser
/**/Parser/**/TestData/

#Python
*.pyc

#Libraries we cannot distribute
Common_3/OS/ThirdParty/OpenSource/ovr_sdk_mobile/
