# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

*.bin

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
**/.vs/
**/x64/
**.vcxproj.user
**.user
**.log

#Xcode
**/Bin/
**/build/
##Xcode User settings
xcuserdata/

**.DS_Store

#  Visual Studio User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates